.Home {
  text-align: center;
  height: 100vh;
  width: 100vw;
  color: #e5e5e5;
  font-size: clamp(1rem, 1.5vw, 3rem);
  display: flex;
  flex-direction: column;
  padding: 9rem 4rem 4rem 4rem;
  gap: 4rem;
}
