.Carousel {
  display: flex;
  align-items: flex-start;
  padding: 0;
  width: 90vw;
  height: 20vh;
  gap: 0.5rem;
  color: #e5e5e5;
  background-color: #1e1e1e;
}

.Card {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #e98530;
  height: 20vh;
  width: 11vw;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: clamp(1rem, 2vw, 3rem);
  margin-right: 2vw;
}

.Slider {
  flex: 1;
  max-width: 70vw;
  max-height: 20vh;
}

.CarouselItem {
  flex: 0 0 auto;
  width: 10vw;
  height: 20vh;
}

.CarouselItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
