.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 10vh;

  margin: 0;
  padding: 0.5rem 1rem;

  display: inline-grid;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: #e5e5e5;
  background-color: #1e1e1e;

  font-size: clamp(1rem, 1.5vw, 3rem);
  font-family: 'Ropa Sans', sans-serif;
}
