.MainInfo {
  height: 40vh;
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #1e1e1e;
}

.MainInfo img {
  height: 40vh;
  width: auto;
  margin-right: 4vw;
}

.RightInfo {
  height: 40vh;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-right: 4vw;
}

.StarRating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.Rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
