.QuickView {
    display: flex;
    align-items: center;
    padding: 0;
    width: 90vw;
    height: 20vh;
    gap: 0.5rem;
    color: #e5e5e5;
    background-color: #1e1e1e;
}

.Card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #E98530;
    height: 20vh;
    width: 11vw;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: clamp(1rem, 2vw, 3rem);
}