.ReviewBox {
  color: #1a1a1a;
  background-color: #ffcfa6;
  height: 30vh;
  width: 40vw;
  position: relative;
  border: 1px solid #1e1e1e;
  box-shadow:
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.Author {
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 2vw;
  margin-top: 2vh;
  gap: 1rem;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: bolder;
}

.Content {
  height: 70%;
  align-items: center;
  justify-content: center;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 1vh;
  overflow: scroll;
}
